@font-face {
    font-family: 'Linearicons';
    src: url('/fonts/Linearicons.ttf');
}

.ico {
    display: inline-block;
    font: normal normal normal 14px/1 Linearicons;
    font-size: inherit;
    text-rendering: auto;
    &-search {
        &::before {
            content: '\E922';
        }
    }
    &-phone {
        &::before {
            content: '\E76A';
        }
    }
    &-cart {
        &::before {
            content: '\E74D';
        }
    }
    &-eye {
        &::before {
            content: '\E6A5';
        }
    }
    &-bag {
        &::before {
            content: '\E74C';
        }
    }
    &-mapPointer {
        &::before {
            content: '\E77A';
        }
    }
    &-plus {
        &::before {
            content: '\E936';
        }
    }
    &-minus {
        &::before {
            content: '\E937';
        }
    }
    &-chevronUp {
        &::before {
            content: '\E939';
        }
    }
    &-chevronDown {
        &::before {
            content: '\E93A';
        }
    }
    &-chevronLeft {
        &::before {
            content: '\E93B';
        }
    }
    &-chevronRight {
        &::before {
            content: '\E93C';
        }
    }
    &-arrowLeft {
        &::before {
            content: '\E943';
        }
    }
    &-arrowRight {
        &::before {
            content: '\E944';
        }
    }
    &-navicon {
        &::before {
            content: '\E92B';
        }
    }
    &-cross {
        &::before {
            content: '\E92A';
        }
    }
    &-user {
        &::before {
            content: '\E71E';
        }
    }
}

@font-face {
    font-family: 'grid';
    src: url('/fonts/grid.ttf');
    font-weight: normal;
    font-style: normal;
}

[class^='grid-'],
[class*=' grid-'] {
    font-family: 'grid';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.grid {
    font-size: $font-size-11;

    &-1x2 {
        &::before {
            content: '\e900';
        }
    }
    &-2x2 {
        &::before {
            content: '\e901';
        }
    }
    &-3x3 {
        &::before {
            content: '\e902';
        }
    }
    &-4x4 {
        &::before {
            content: '\e903';
        }
    }
}
