<div class="btn-arrow btn-arrow-{{color}} text-{{color}} btn-arrow-{{size}} mx-{{mx}} cursor-pointer d-flex align-items-center justify-content-center">
    <i class="fa fa-long-arrow-right"></i>
</div>