<div class="btn btn-arrow btn-arrow-{{color}} text-{{color}} btn-arrow-{{size}} mx-{{ifSetOrDefault mx '0'}} cursor-pointer d-flex align-items-center justify-content-center">
    <i class="ico ico-arrowRight"></i>
</div>