<div id="bag" class="bag">
    <div class="bag_title font-weight-bold p-3">
        Shopping Basket
    </div>

    <div class="bag_strap text-center bg-grayLight p-1">
        Free Standard Delivery - On Orders Over &pound;50
    </div>
</div>
