<div id="bag" class="bag">
    <div class="bag_title font-weight-bold p-3">
        Shopping Basket
    </div>

    <div class="bag_strap text-center bg-grayLight p-1">
        Free Standard Delivery - On Orders Over &pound;50
    </div>

    <div class="bag_product my-4">
        <div class="row">
            <div class="col-4 pr-0">
                <img src="http://via.placeholder.com/90x100" class="w-100" />
            </div>
            <div class="col-8 py-2">
                <div class="bag_productTitle">Oxford 3 Piece Cotbed Set Grey</div>
                <div class="row py-2">
                    <div class="col-6 m-0 p-0">
                        <span class="bag_productPrice">
                            <strong>&pound;1,157.00</strong>
                        </span>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <span class="bag_productQtn">Quantity: 1</span>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col m-0 p-0">
                        <span class="bag_productRemove"><a href="#">Remove</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bag_product my-4">
        <div class="row">
            <div class="col-4 pr-0">
                <img src="http://via.placeholder.com/90x100" class="w-100" />
            </div>
            <div class="col-8 py-2">
                <div class="bag_productTitle">Boys Striped Pocket T-Shirt</div>
                <div class="row py-2">
                    <div class="col-6 m-0 p-0">
                        <span class="bag_productPrice">
                            <strong>&pound;12.00</strong>
                        </span>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <span class="bag_productQtn">Quantity: 1</span>
                    </div>
                </div>
                <div class="row py-0">
                    <div class="col m-0 p-0">
                        <span class="bag_productRemove"><a href="#">Remove</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
