<div class="basket_upsell">
    <hr class="hr-gray my-5" size="2" />
    <div class="row">
        <div class="col">
            <strong>{{strap}}</strong>
        </div>
    </div>
    <div class="basket_product my-2">
        {{> basketProductView}}
    </div>
</div>