<div class="container-fluid header" style="background-image: url(/media/banner_homepage.jpg);">
    <div class="row px-md-4 py-3">
        <div class="banner d-flex align-content-center mx-auto bg-white">
            <div class="text-center px-2 banner_container pt-2">
                <div class="banner_title">
                    Boys Shirts & Tops
                </div> 
                <hr class="banner_hr"/>
                <p class="banner_content font-weight-light">Whether you're looking for the perfect smart shirt for a birthday, wedding,
                    christening or party, or a stylish top for tose everyday adventures, at
                    Mamas and Papas, we have lots of soft, cosy tops and shirts to choose from.
                </p>
            </div>
        </div>
    </div>
</div>
