<div class="container-fluid header" style="background-image: url({{theme code="plp_banner_image"}});">
    <div class="row px-md-6 py-5 px-3">
        <div class="banner d-flex align-content-center mx-auto bg-white text-black">
            <div class="text-center px-4 py-5 banner_container">
                <div class="banner_title">
                    {{theme code="plp_banner_title"}}
                </div> 
                <hr class="banner_hr my-4"/>
                <p class="banner_content font-weight-light">
                    {{theme code="plp_banner_content"}}
                </p>
            </div>
        </div>
    </div>
</div>
