<div class="breadcrumb mx-auto bg-white text-center font-weight-light">
    <a class="breadcrumb_item text-light" href="#">Home</a> 
    <a class="breadcrumb_item text-light" href="#">Library</a> 
    <a class="breadcrumb_item text-light" href="#">Data</a>
    <span class="breadcrumb_item breadcrumb-active ">Bootstrap</span>
</div>