<div class="breadcrumb mx-auto bg-white text-center font-weight-light">
    {{#each (theme code="plp_breadcrumb")}}
        {{#if @last}}
            <span class="breadcrumb_item breadcrumb-active ">{{.}}</span>
        {{else}}
            <a class="breadcrumb_item text-light" href="#">{{.}}</a> 
        {{/if}}
    {{/each}}
</div>