<div class="card">
    <img class="img-fluid" src="/media/card_bunny_clyde.jpg" />
    <div class="p-4 bg-white">
        <strong class="d-block"> {{title}}</strong>
        <small>
            <a href-"{{href}}">{{linkText}}</a>
            <p>{{content}}</p>
        </small>
        {{> arrowButton color="black"}}
    </div>
</div>
