<div class="card">
    <img class="img-fluid" src="https://placekitten.com/300/280"/>
    <div class="p-2 bg-white">
        <strong class="d-block"> {{title}}</strong>
        <small>
            <a href-"{{href}}">{{linkText}}</a>
            <p>{{content}}</p>
        </small>
        {{> arrowButton color="black"}}
    </div>
</div>
