<div class="background-primary">
	<div class="container">
		<div class="row py-2">
			<div class="col-12 col-md-6 row align-items-end">
				<div class="col">
					<h6 class="w-100">Connect with us</h6>
					{{#each (theme code="social_links")}}
						<a class="text-hush" href="#">
							{{>icon name=.}}
						</a>
					{{/each}}
				</div>
				{{#if (theme code="footer_logo")}}
					<img class="ml-md-auto img-fluid" src="{{theme code="footer_logo"}}" alt="{{theme code="footer_logo"}}"/>
				{{/if}}
			</div>
			<div class="col-12 col-md-6 pt-2 pt-md-0 d-flex flex-column justify-content-end">
				<div class="row">
					<h5 class="col-12">Priority alerts!</h5>
					<small class="col-md-8">Sign up to our Newsletter and receive special offers, discounts and Priority news.</small>
				</div>
				<form class="row form-inline form-group my-0">
					<div class="col-12 col-md-6 col-lg-8 py-1 py-md-0">
						{{> input classes="w-100 input-stroke col form-control" placeholder="Enter your email" name="email"}}
					</div>
					{{> button type="submit" text="Sign up" classes="btn mx-1 btn-quaternary btn-block col"}}
				</form>				
			</div>
		</div>
	</div>
</div>