<div class="background-tertiary collapse" id="cookieBanner">
	<div class="container">
		<div class="row">
			<div class="col-md-10 pt-1">
				{{theme code="cookie_message"}}
			</div>
			<div class="col-md-2 py-1">
				{{> button type="button" text=(theme code="cookie_btn_text") classes="btn btn-noPoint btn-secondary js-cookieClose js-toggleHide" toggle="collapse" target="#cookieBanner"}}
			</div>
		</div>	
	</div>
</div>
