
<div class="feature mt-5 pb-5 bg-inverse">
    <div class="feature_carousel mx-auto px-2">
        <div class="article active text-center">
            <img class="img-fluid feature_carousel_image" src="media/carousel_01.jpg"/>
            <div class="p-2 bg-white">
                <strong class="d-block truncate">Test Title</strong>
                <small>
                    <a class="text-black font-weight-light" href="#">URL text</a>
                    <p>Test Description</p>
                </small>
                {{> arrowButton color="black" size="small" mx="auto"}}
            </div>
        </div>
    </div>
</div>
