<div class="featureCarousel mt-md-3" id="featureCarousel">
    <div class="featureCarousel_track">
        {{#each (theme code="homepage_carousel")}}
            <div class="featureCarousel_entry mx-auto px-2" {{#if this.background_colour}}data-background="{{this.background_colour}}"{{/if}}>
                <img class="img-fluid d-block featureCarousel_image" src="{{this.image}}"/>
                <div class="featureCarousel_content p-2 bg-white">
                    <h3 class="d-block truncate font-weight-bold mb-1">{{this.title}}</h3>
                    <small>
                        <p>{{this.description}}</p>
                    </small>
                    {{> arrowButton color="black" size="small" mx="auto"}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="featureCarousel_controls">
        <div class="arrow prev d-inline text-center cursor-pointer js-prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div class="arrow next d-inline text-center cursor-pointer js-next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>
</div>
