<div class="featureCarousel mt-md-5" id="featureCarousel">
    <div class="featureCarousel_track">
        {{#each (theme code="homepage_carousel")}}
            <div class="featureCarousel_entry mx-auto px-4" {{#if this.background_colour}}data-background="{{this.background_colour}}"{{/if}}>
                <img class="img-fluid d-block featureCarousel_image" src="{{this.image}}"/>
                <div class="featureCarousel_content text-center p-4 bg-white">
                    <h3 class="d-block truncate font-weight-bold mb-3">{{this.title}}</h3>
                    <small>
                        <p>{{this.description}}</p>
                    </small>
                    {{> arrowButton color="black" size="small" mx="auto"}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="featureCarousel_controls">
        <div class="btn-arrow-small bg-white arrow prev d-inline text-center cursor-pointer js-prev">
            <i class="ico ico-chevronLeft" aria-hidden="true"></i>
        </div>
        <div class="btn-arrow-small bg-white arrow next d-inline text-center cursor-pointer js-next">
            <i class="ico ico-chevronRight" aria-hidden="true"></i>
        </div>
    </div>
</div>
