<footer class="footer text-md-center p-1 bg-white">
    <div class="row">
        {{#each (theme code="footer_links")}}
            <div class="col-md {{#if options.hideDesktop}}hidden-md-up{{/if}}">
                <h4 class="footer_heading m-0 py-2 py-md-1">{{name}}</h4>
                <ul class="footer_links list-unstyled m-0 p-2 p-md-0">
                    {{#each .}}
                        <li><a href="#">{{.}}</a></li>
                    {{/each}}
                </ul>
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col text-center m-2 mt-md-5 footer_socialLinks">
            {{#each (theme code="social_links")}}
                <i class="fa footer_socialIcon fa-{{.}}" aria-hidden="true"></i>
            {{/each}}
        </div>
    </div>
</footer>
