<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{theme code="name"}} Static Website</title>
    <meta name="description" content="Static website description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/{{theme code="favicon"}}" type="image/x-icon">
    <link href="/css/{{theme code="css"}}.css" rel="stylesheet">
    <link href="{{theme code="font"}}" rel="stylesheet">
</head>