<header>
    <div class="headerImage container-fluid" style="background-image: url(http://lorempixel.com/output/cats-q-c-1200-750-4.jpg); background-repeat: no-repeat; background-size: 100% auto;">
        <div class="row py-1 text-white">
            <div class="col-sm-4">
                <a class="text-uppercase">Shop</a>
                <a class="text-uppercase">Discover</a>
            </div>
            <div class="col-sm-4 text-center">mamas&papas</div>
            <div class="col-sm-4 text-right">icons</div>
        </div>
        <div class="row px-4 py-5">
            <div class="col-md-6 text-white d-flex align-content-center">
                <div class="py-5">
                    <h1 class="display-4 pt-5">Explore the perfect nursery for baby</h1>
                    <p class="lead">Stunning collaborations & inspiration</p>
                    <div class="my-4 box-2"></div>
                </div>
            </div>
            <div class="col-md-3 offset-md-3">
                <div class="bg-white">
                    <img class="img-fluid" src="https://placekitten.com/300/280"/>
                    <div class="p-2">
                        <strong class="d-block"> Bunny & Clyde</strong>
                        <small>
                            <a>Read more</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </small>
                        <div class="mb-4 box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>