<div class="collapse container-fluid background-secondary" id="storeCollapse" style="display: none">
	<div class="container pb-5 pt-1">
		<div class="row">
			<div class="col-6 col-sm-7 pt-1 row">
				<div class="col-7 col-sm-6">
					<div class="border-circle border-imageBrand border_brandTertiary storeImage-circle rounded-circle">
						<img src="{{theme code='store_image'}}" alt="stores" class="img-fluid">
					</div>
				</div>
				<div class="col-5 col-sm-6">
					<img class="img-fluid mb-2" src="/media/mario.png"/>
					<p class="h4">{{theme code="store_search_title"}}</p>
					<p>{{theme code="store_area_count"}}</p>
				</div>
			</div>
			<div class="col-6 col-sm-5">
				{{> headerStoreOverlayContent}}
			</div>
		</div>
	</div>
</div>