<div class="d-flex col-3 border-right border-left justify-content-center align-items-end py-1 background-collapse" id="rightPane" role="button">
	<div>{{> icon name="store-dt mr-1"}}</div>
	<div class="d-flex flex-column justify-content-end">
		<h3 class="mb-0">{{theme code="store_message"}}</h3>
		<small class="text-compact">{{theme code="store_message_support"}}</small>
	</div>
</div>