{{#if (theme code="promotions")}}
	<div class="background-secondary shadow-insetTop">
		<div class="container">
			<div class="justify-content-around align-items-center py-1 js-promoCarousel">
				{{#each (theme code="promotions")}}
					<h6 class="mb-0 text-center">{{{.}}}</h6>
				{{/each}}
			</div>
		</div>
	</div>
{{/if}}