<div class="lugy-intro">
    <img src="./media/lugy-images/lugy-logo.svg">
        <p>Tell us a little bit more about yourself and we’ll provide you with a more tailored shopping experience just for you</p>
        <a href="#" class="btn-black-line btn js-slidePanel" data-target="#lugy-panel-1">LET'S GO! <i class="ico ico-arrowRight"></i></a>
  </div>
