{{#each (theme code="plp_clothing_sort")}}
    {{#ifeq name 'Sort By'}}
        <div class="productFilter_tab js_slideContent" id="sort-by-slide" data-trigger="{{stringReplace ../name}}">
            <div class="slidePanel_category slidePanel_category-selected bg-white" data-category="filter_primary">
                <div class="slidePanel_title p-3 js-switchCategory">
                    {{../name}}
                </div>
                <div class="slidePanel_group">
                    <div class="js-radio" data-index="{{@index}}">
                        {{#each ../filters}}
                            <div class="d-inline-block pt-4 pl-3">
                                <div class="checkbox">
                                    <div class="checkbox_toggle cursor-pointer text-center{{#if default}}active{{/if}}"></div>
                                    <div class="checkbox_text pl-2">{{filter}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>       
            </div>
        </div>
    {{/ifeq}}
{{/each}}