<div class="productFilter js-toggle">
    <div class="row productFilter_filterSelectors p-2">
        {{#each (theme code="plp_clothing_filters")}}
            <div class="border-gray d-inline-block d-md-none py-2 px-3 productFilter_select mr-3 js-slidePanel" data-target="#{{stringReplace name}}-slide">
                {{name}}
                <div class="productFilter_label font-weight-light filter{{@index}}">0 filters applied</div>
                <i class="ico ico-plus productFilter_icon"> </i>
            </div>
        {{/each}}
    </div>
</div>