<nav class="nav h-100">
    <div class="row h-100 m-0">
        <div class="col-sm-9 p-0 nav_section">
            <div class="nav_top">
                <div class="nav_close js-navClose">
                    <i class="fa fa-close"></i>
                </div>
            </div>

            {{#each (theme code="navigation")}}
                {{> navBlock }}
            {{/each}}
        </div>
    </div>
</nav>
