<div class="productCard p-2 text-center">
    <div class="productCard_strap d-inline mx-auto p-1 text-uppercase">Free Delivery</div>
    <div class="productCard_image"><img src="media/product_shirt_01.png" /></div>
    <div class="productCard_discount text-uppercase"><strong>Save 50%</strong></div>
    <div class="productCard_title"><strong>White Cotton Pattern Shirt</strong></div>
    <div class="productCard_promoLine">3 for 2 on Selected Tops</div>
    <div class="productCard_price"><strong>&pound;14.50</strong></div>
</div>
