<div class="product-block">
  <section class="section" style="background-image: url('media/pushchair-images/pushchair-1.jpg');">
    <span class="product-block__overlay" data-aos="fade" data-aos-duration="1500" data-aos-offset="300"></span>
    <div class="table">
      <div class="table-cell">
        <span class="slide-count" data-aos-offset="200" data-aos="fade"><span>01</span> - 04</span>
        <h2 class="product-block__title" data-aos-offset="200" data-aos="fade-up">Armadillo</h2>
        <div class="clearfix">
          <div class="col-1" data-aos-offset="200" data-aos="fade-up">
            <h3 class="product-block__subtitle">For the urban dweller</h3>
            <p class="product-block__copy">We understand what it’’s like living in a city, so we’ve got it covered with the Armadillo’s</p>
          </div>
          <div class="col-2" data-aos-offset="200" data-aos="fade-up">
            <ul class="product-block__list">
              <li class="product-block__list-item">Fold down with one hand</li>
              <li class="product-block__list-item">Narrow frame for bus/tube</li>
              <li class="product-block__list-item">Large front wheel</li>
            </ul>
          </div>
        </div>
        <div class="animate">
          <a href="#" class="btn" data-aos-delay="350" data-aos-offset="30" data-aos="fade-up">learn more</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section" style="background-image: url('media/pushchair-images/pushchair-4.jpg');">
    <span class="product-block__overlay" data-aos="fade" data-aos-duration="1500" data-aos-offset="300"></span>
    <div class="table">
      <div class="table-cell">
        <span class="slide-count" data-aos-offset="200" data-aos="fade"><span>02</span> - 04</span>
        <h2 class="product-block__title" data-aos-offset="200" data-aos="fade-up">Ocarro</h2>
        <div class="clearfix">
          <div class="col-1" data-aos-offset="200" data-aos="fade-up">
            <h3 class="product-block__subtitle">For the adventurer</h3>
            <p class="product-block__copy">We’ve got the pushchair that will take you wherever you need to go</p>
          </div>
          <div class="col-2" data-aos-offset="200" data-aos="fade-up">
            <ul class="product-block__list">
              <li class="product-block__list-item">Dual suspension</li>
              <li class="product-block__list-item">Large wheels</li>
              <li class="product-block__list-item">Slimline frame</li>
            </ul>
          </div>
        </div>
        <div class="animate">
          <a href="#" class="btn" data-aos-delay="350" data-aos-offset="30" data-aos="fade-up">learn more</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section" style="background-image: url('media/pushchair-images/pushchair-2.jpg');">
    <span class="product-block__overlay" data-aos="fade" data-aos-duration="1500" data-aos-offset="300"></span>
      <div class="table">
      <div class="table-cell">
        <span class="slide-count" data-aos-offset="200" data-aos="fade"><span>03</span> - 04</span>
        <h2 class="product-block__title" data-aos-offset="200" data-aos="fade-up">Flip XT2</h2>
        <div class="clearfix">
          <div class="col-1" data-aos-offset="200" data-aos="fade-up">
            <h3 class="product-block__subtitle">For the urban dweller</h3>
            <p class="product-block__copy">We understand what it’’s like living in a city, so we’ve got it covered with the Armadillo’s</p>
          </div>
          <div class="col-2" data-aos-offset="200" data-aos="fade-up">
            <ul class="product-block__list">
              <li class="product-block__list-item">Fold down with one hand</li>
              <li class="product-block__list-item">Narrow frame for bus/tube</li>
              <li class="product-block__list-item">Large front wheel</li>
            </ul>
          </div>
        </div>
        <div class="animate">
          <a href="#" class="btn" data-aos-delay="350" data-aos-offset="30" data-aos="fade-up">learn more</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section" style="background-image: url('media/pushchair-images/pushchair-3.jpg');">
    <span class="product-block__overlay" data-aos="fade" data-aos-duration="1500" data-aos-offset="300"></span>
    <div class="table">
      <div class="table-cell">
        <span class="slide-count" data-aos-offset="200" data-aos="fade"><span>04</span> - 04</span>
        <h2 class="product-block__title" data-aos-offset="200" data-aos="fade-up">Urbo2</h2>
        <div class="clearfix">
          <div class="col-1" data-aos-offset="200" data-aos="fade-up">
            <h3 class="product-block__subtitle">For the adventurer</h3>
            <p class="product-block__copy">We’ve got the pushchair that will take you wherever you need to go</p>
          </div>
          <div class="col-2" data-aos-offset="200" data-aos="fade-up">
            <ul class="product-block__list">
              <li class="product-block__list-item">Dual suspension</li>
              <li class="product-block__list-item">Large wheels</li>
              <li class="product-block__list-item">Slimline frame</li>
            </ul>
          </div>
        </div>
        <div class="animate">
          <a href="#" class="btn" data-aos-delay="350" data-aos-offset="30" data-aos="fade-up">learn more</a>
        </div>
      </div>
    </div>
  </section>
</div><!-- .product-block -->
