<div class="productCard p-2 my-4">
    <div class="text-center">
        <div class="productCard_strap d-inline mx-auto p-1 text-uppercase">
            Free Delivery
        </div>
        <div class="productCard_strap d-inline mx-auto p-1 text-uppercase">
            {{> reviewStars amount=4 total=5}}
        </div>
        <div class="productCard_image">
            <img src="media/product_shirt_01.png" />
        </div>
    </div>
    <div class="productCard_discount py-1 text-uppercase">
        <strong>Save 50%</strong>
    </div>
    <div class="productCard_title py-1">
        <strong>White Cotton Pattern Shirt</strong>
    </div>
    <div class="productCard_promoLine py-1">
        3 for 2 on Selected Tops
    </div>
    <div class="productCard_price py-1">
        <strong>&pound;14.50</strong> 
        <del class="productCard_price-old">&pound;20.00</del>
    </div>
</div>
