<div class="border-gray d-inline-block p-1 productFilter">
    Filter By <i class="fa fa-plus productFilter_icon"> </i>
</div>
<div class="border-gray d-inline-block p-1 productFilter">
    Sort By <i class="fa fa-plus productFilter_icon"> </i>
</div>

<div class="col-md-5">
    
</div>
<div class="col-md-7"></div>