<div class="slidePanel h-100">
    <div class="slidePanel_content h-100 bg-white">
        <div class="slidePanel_top">
            <div class="slidePanel_close cursor-pointer js-slidePanel">
                <i class="ico ico-cross"></i>
            </div>
        </div>
        {{> (lookup . 'block') }}
    </div>
</div>
