<div class="subscribe">
    <div class="row justify-content-center py-4 px-3">
        <div class="subscribe_box col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-sm-12 p-0">
            <form>
                <div class="input-group">
                    <input type="email" class="subscribe_email d-inline form-control pt-3 pb-3 font-weight-light" id="subscribeEmail" placeholder="Enter your email address">
                    <span class="input-group-btn">
                        {{> button text="Subscribe" backgroundColour="primary" class="subscribe_submit"}}
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
