<div class="subscribe row justify-content-center py-2 px-1">
    <div class="subscribe_box col-lg-6 col-md-10 col-sm-12 mx-auto p-0">
        <form>
            <div class="input-group">
                <input type="email" class="subscribe_email d-inline form-control pt-1 pb-1 pl-1 font-weight-light" id="subscribeEmail" placeholder="Enter your email address">
                <span class="input-group-btn subscribe_submit">
                    {{> button text="Subscribe" class="primary"}}
                </span>
            </div>
        </form>
    </div>
</div>
