<div class="subscribe row justify-content-center p-2">
    <div class="col-5">
        <form class="form-inline">
            <div class="form-group">
                <input type="email" class="form-control" id="subscribeEmail" aria-describedby="emailHelp" placeholder="Enter your email address">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>