<div class="row bg-grayLight infoBar">
    <div class="col">
        <div class="float-left infoBar-left px-1">
            <small>
            <!-- <ul class="list-unstyled text-light font-weight-light font-family-secondary m-0 dropdown">
                <li>UK (£) &#9662;</li>
                <li>EU (£)</li>
            </ul> -->
            <select class="text-light font-weight-light font-family-secondary infoBar_currencySelect">
                <option value="UK" selected>UK (£)</option>
                <option value="EU">EU (£)</option>
            </select>
            </small>

        </div>
    </div>
    <div class="col">
        <div class="text-center text-capitalize">
            <small>Free standard delivery - on orders over £50</small>
        </div>

    </div>
    <div class="col">
        <div class="float-right text-light">
            <div class="infoBar-right d-inline-block px-1">
                <small class="font-weight-light font-family-secondary"><i class="fa fa-phone"></i> Contact</small>
            </div>
            <div class="infoBar-right d-inline-block px-1">
                <small class="font-weight-light font-family-secondary"><i class="fa fa-map-marker"></i> Stores</small>
            </div>
        </div>
    </div>
</div>