<div class="{{#ifeq size 'large'}}col-lg-6 col-md-8 col-sm-12{{else}}col-lg-3 col-md-4 col-sm-6{{/ifeq}}">
    <div class="productCard productCard-background transition-transform p-2 pt-4 mb-5 mt-4" style="background-image: url('{{image}}');">
        {{!-- <img src="{{image}}" class="img-responsive" /> --}}
    </div>
</div>
