<div class="{{#ifeq size 'large'}}col-lg-6 col-md-8 col-sm-12{{else}}col-lg-3 col-md-4 col-sm-6{{/ifeq}}">
    <div class="productCard transition-transform p-2 mb-4">
        <img src="{{image}}" class="w-100" />
    </div>
</div>