<div class="wrapper">
    <header>
        {{> homepageHeader}}
    </header>

    {{> lugyBanner}}

    <div class="slidePanel slidePanel-rightSide h-100">
        <div class="slidePanel_content slidePanel_content_full h-100 bg-white">
            <div class="slidePanel_top">
                <div class="slidePanel_close cursor-pointer js-slidePanel">
                    <i class="ico ico-cross"></i>
                </div>
            </div>

            <div class="lugy">
                <!-- <div id="preloader"></div> -->
                <div id="js-lugy_overlay" class="lugy_overlay"></div>

                <div id="lugy_steps"></div>
            </div>

        </div>
        <div class="slidePanel_bg js-slidePanel slidePanel_close"></div>
    </div>

    {{> content}}
    {{> footer}}
</div>

{{> slidePanel block="nav"}}
{{> scripts}}