<div class="wrapper">
    <header>
        {{> homepageHeader}}
    </header>

    {{> lugyBanner}}

    <div class="slidePanel slidePanel-rightSide h-100">
        <div class="slidePanel_content slidePanel_content_full h-100 bg-white">
            <div class="slidePanel_top">
                <div class="slidePanel_close cursor-pointer js-slidePanel">
                    <i class="ico ico-cross"></i>
                </div>
            </div>

            <div class="lugy">
              <!-- <div id="preloader"></div> -->
              <div id="js-lugy_overlay" class="lugy_overlay"></div>
              <div id="lugy-panel-1" class="lugy-panel lugy-panel-1">
                   <div class="lugy-intro">
                      <img src="./media/lugy-images/lugy-logo.svg">
                      <p>Tell us a little bit more about yourself and we’ll provide you with a more tailored shopping experience just for you.</p>
                  </div>
                  <div id="lugy-pods-page-1" class="lugy-pods-container row">
                      <div id="lugy-mum" class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm a mum to be
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/mum-to-be-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm a dad to be
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/dad-to-be-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm a mum
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/mum-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm a dad
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/dad-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm a grandparent
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/grandparent-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i'm not any of these
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/na-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                  </div>
              </div>

              <div id="lugy-panel-2" class="lugy-panel">
                  <div class="lugy-intro lugy-intro-large">
                      <p class="lugy_copy">
                      I'm
                      <select class="lugy-select" name="">
                          <option value="">a parent</option>
                          <option value="">a dad to be</option>
                          <option value="">a mum to be</option>
                          <option value="">a gift shopper</option>
                          <option value="">a grandparent</option>
                          <option value="">none of these</option>
                      </select>
                      and...</p>
                    </div>
                  <div id="lugy-mum-pods-page-2" class="lugy-pods-container row">
                      <div id="lugy-advice-pod" class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i want buying advice for...
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/2-advice-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i want a specific product in...
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/2-specific-product-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i want interesting articles on
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/2-articles-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                i would like to chat directly to someone
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/2-chat-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                suprise me!
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/2-suprise-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                  </div>
              </div>

              <div id="lugy-panel-3" class="lugy-panel">
                  <div class="lugy-intro lugy-intro-large">
                      <p class="lugy_copy">
                        I'm
                        <select class="lugy-select" name="">
                            <option value="">a parent</option>
                            <option value="">a dad to be</option>
                            <option value="">a mum to be</option>
                            <option value="">a gift shopper</option>
                            <option value="">a grandparent</option>
                            <option value="">none of these</option>
                        </select>
                        and I want
                        <select class="lugy-select" name="">
                          <option value="">Buying Advice</option>
                          <option value="">Option 2</option>
                          <option value="">Option 3</option>
                          <option value="">Option 4</option>
                          <option value="">Option 5</option>
                        </select>
                        for...</p>
                  </div>
                  <div id="lugy-mum-pods-page-2" class="lugy-pods-container row">
                      <div id="lugy-mum-pod" class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                pushchairs &amp; travel
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-travel-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                nursey furniture &amp; decor
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-nursery-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                highchairs &amp; feeding
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-feeding-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                clothing &amp; style
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-clothing-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                toys &amp; gifts
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-gifts-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                      <div class="lugy-pod col-lg-4 col-md-4 col-sm-6 col-xs-6 col-6">
                        <div class="lugy-pod_inner">
                          <div class="lugy-pod_txt">
                            <div class="table">
                              <div class="table-cell">
                                everything!
                              </div>
                            </div>
                          </div>
                          <img src="./media/lugy-images/3-newborn-pod.jpg" style="width: 100%;  height: auto;">
                        </div>
                      </div>
                  </div>
              </div>
            </div>

        </div>
        <div class="slidePanel_bg js-slidePanel slidePanel_close"></div>
    </div>

    {{> content}}
    {{> footer}}
</div>

{{> slidePanel block="nav"}}
{{> scripts}}
