.bg {
    &-white {
        background-color: $white;
    }
    &-grayLighter {
        background-color: $gray-lighter;
    }
    &-grayLight {
        background-color: $gray-light;
    }
    &-gray {
        background-color: $gray;
    }
}
