.background {
    &-primary {
        background-color: $background-primary;
        color: $background-primary-color;
    }
    &-secondary {
        background-color: $background-secondary;
        color: $background-secondary-color;
    }
    &-tertiary {
        background-color: $background-tertiary;
        color: $background-tertiary-color;
    }
    &-loud {
        background-color: $background-loud;
        color: $background-loud-color;
    }
    &-body {
        background-color: $body-bg;
        color: $body-color;
    }
    &-transition {
        transform: background-color .15s linear;
    }
}
