.bag {
    &_title {
        height: 80px;
        line-height: 46px;
        border-bottom: 1px solid $gray;
    }

    &_strap {
        font-size: $font-size-3;
        border-top: $border-width solid $gray;
    }

    &_product {
        font-size: $font-size-3;

        &Price {
            font-size: $font-size-5;
        }

        &Remove {
            font-size: $font-size-2;
        }
    }
}
