.banner {
    width: 100%;
    padding: 15px;
    @media (min-width: breakpoint-min(md)) {
        max-width: 550px;
       max-height: 250px;
    }
    &_hr {
        width: 60px;
        border-color: $black;
    }
    &_title {
        font-size: $font-size-5;
    }
    &_content {
        font-size: $font-size-3;
    }
    &_container {
        border: $border-black;
    }
}
