.btn {
    font-size: $font-size-4;
    text-transform: uppercase;
    cursor: pointer;
    height: 50px;
    padding: 0 2rem;
    &-arrow {
        width: 60px;
        height: 60px;
        font-size: $font-size-9;
        &-black {
            border: $button-border-black;
        }
        &-white {
            border: $button-border-white;
        }
        &-small {
            height: 50px;
            width: 50px;
        }
    }
    &-primary {
        color: $btn-primary-color;
        background-color: $btn-primary-bg;
        border-color: $btn-primary-border;
    }
    &-secondary {
        color: $btn-secondary-color;
        background-color: $btn-secondary-bg;
        border-color: $btn-secondary-border;
    }
}

.btn-primary.hover,
.btn-primary:hover {
    background-color: $gray-darker;
    border-color: $gray-darker;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: $gray;
    border-color: $gray;
}
