.btn {
    &-arrow {
        width: 60px;
        height: 60px;
        &-black {
            border: 1px solid $black;
        }
        &-white {
            border: 1px solid $white;
        }
        &-small {
            height: 45px;
            width: 45px;
        }
    }

    &-primary {
        height: 50px;
        font-size: $font-size-4;
        text-transform: uppercase;
        cursor: pointer;
    }
}
