.featureCarousel {
    position: relative;
    overflow: hidden;

    &::after {
        clear: left;
        display: table;
        content: '';
    }

    &_track {
        position: relative;
        margin-top: 40px;
        background: $black;
    }

    &_entry {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        z-index: 1;
        transform-origin: top center;
        transition-duration: $transition-duration;
        transition-property: transform, z-index;
        transition-timing-function: $transition-easing-alt;

        @media (min-width: breakpoint-min(md)) {
            width: 600px;
        }

        .featureCarousel_image {
            width: 100%;
        }

        .featureCarousel_content {
            opacity: 0;
            visibility: hidden;
            transition-duration: $transition-duration;
            transition-property: opacity;
            transition-timing-function: $transition-easing-alt;
        }

        &.focused {
            .featureCarousel_content {
                visibility: visible;
                opacity: 1;
            }
        }

        &:nth-child(1) {
            z-index: 30;
        }
    }

    &_controls {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        z-index: 99;

        @media (min-width: breakpoint-min(md)) {
            top: 50%;
            width: 712px;
        }

        .arrow {
            position: absolute;
            top: 0;
            font-size: $font-size-9;
            line-height: 55px;

            @media (min-width: breakpoint-min(sm)) {
                height: 80px;
                width: 80px;
                line-height: 88px;
            }

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }
        }
    }
}
