.featureCarousel {
    overflow: hidden;
    &::after {
        clear: left;
        display: table;
        content: '';
    }

    &_track {
        overflow: hidden;
    }

    &_entry {
        width: 480px;
        float: left;
        margin-top: 3rem;

        &Image {
            width: 100%;
        }

        .content {
            visibility: hidden;
        }

        &.active {
            .content {
                visibility: visible;
            }
        }
    }

    &_controls {
        .arrow {
            height: 80px;
            width: 80px;
            background: $white;
            font-size: $header-size-1;
            line-height: 40px;
        }
    }
}
