.footer {
    clear: both;
    font-size: $font-size-4;

    &_heading {
        position: relative;
        border-bottom: 1px solid $gray-lighter;
        font-size: $font-size-5;
        font-weight: $font-weight-bold;
        cursor: pointer;
        @media (min-width: breakpoint-min(md)) {
            border-bottom: 0;
            cursor: default;
        }
        &::after {
            position: absolute;
            right: 0;
            font-family: $font-family-icons;
            content: '\E936';
            @media (min-width: breakpoint-min(md)) {
                display: none;
            }
        }

        &.active {
            &::after {
                content: '\E937';
            }

            + .footer_links {
                display: block;
            }
        }
    }

    &_links {
        display: none;
        background: $gray-lighter;
        border-bottom: 2px solid $gray;
        line-height: 36px;
        @media (min-width: breakpoint-min(md)) {
            display: block;
            background: 0;
            border: 0;
            line-height: 24px;
        }
    }

    &_socialLinks {
        font-size: $font-size-9;
        @media (min-width: breakpoint-min(md)) {
            font-size: $font-size-7;
        }
    }
}
