.footer {
    color: $gray-dark;
    font-size: $font-size-4;

    .footer-heading {
        position: relative;
        border-bottom: 1px solid $gray-light;
        font-size: $font-size-5;
        font-weight: $font-heavy;
        cursor: pointer;

        &::after {
            position: absolute;
            right: 0;
            font-family: FontAwesome;
            content: '\f067';
        }

        &.active {
            &::after {
                content: '\f068';
            }

            + .footer-links {
                display: block;
            }
        }
    }

    .footer-links {
        display: none;
        background: $gray-light;
        border-bottom: 2px solid $gray-medium;
        line-height: 36px;
    }

    .footer-socialLinks {
        font-size: $font-size-9;
    }
}

@include media-breakpoint-up(md) {
    .footer {
        .footer-heading {
            border-bottom: 0;
            cursor: default;

            &::after {
                display: none;
            }
        }

        .footer-links {
            display: block;
            background: 0;
            border: 0;
            line-height: 24px;
        }

        .footer-socialLinks {
            font-size: $font-size-7;
        }
    }
}
