.header {
    background-position: center top;
    background-repeat: no-repeat;
    @media (min-width: breakpoint-min(md)) {
        background-size: cover;
    }
    &_title {
        font-size: $header-size-2;
        @media (min-width: breakpoint-min(md)) {
            font-size: $header-size-1;
        }
    }
    &_subtitle {
        font-size: $font-size-8;
    }
    &_link {
        &-white {
            color: $white;
        }
        &-black {
            color: $gray-darkest;
        }
    }
    &_text {
        &-white {
            color: $white;
        }
        &-black {
            color: $gray-darkest;
        }
    }
    &_logo {
        width: 100%;
        max-width: 100%;
        @media (min-width: breakpoint-min(md)) {
            width: auto;
            max-width: initial;
        }
    }
    &_icon {
        font-size: $font-size-8;
        padding: 10px;
        @media (min-width: breakpoint-min(md)) {
            font-size: $font-size-9;
            padding: 0 12px;
        }
    }
    &_nav {
        @media (min-width: breakpoint-min(md)) {
            height: 100px;
        }
    }
}
