.header {
    background-position: center top;
    background-repeat: no-repeat;
    @media (min-width: breakpoint-min(md)) {
        background-size: cover;
    }
    &_title {
        font-size: $header-size-2;
        @media (min-width: breakpoint-min(md)) {
            font-size: $header-size-1;
        }
    }
    &_subtitle {
        font-size: $font-size-8;
    }
    &_link {
        &-white {
            color: $white;
        }
        &-black {
            color: $gray-darkest;
        }
    }
    &_text {
        &-white {
            color: $white;
        }
        &-black {
            color: $gray-darkest;
        }
    }
}
