.font {
    &-weight {
        &-light {
            font-weight: $font-light;
        }
    }
    &-family {
        &-secondary {
            font-family: $font-family-secondary;
        }
    }
}

.text {
    &-black {
        color: $black;
    }
    &-light {
        color: $gray-darker;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoBar {
    height: 35px;
    line-height: 34px;
    border: $info-bar-border;
    &-left {
        border-right: $info-bar-border;
    }
    &-right {
        border-left: $info-bar-border;
        height: 100%;
    }
    &_currencySelect {
        border: 0;
    }
}

// Custom mixins. May need a mixin SASS file?
@mixin placeholder {
    &::placeholder {
        @content;
    }
}
