.font {
    &-weight {
        &-light {
            font-weight: $font-weight-light;
        }
    }
    &-family {
        &-secondary {
            font-family: $font-family-secondary;
        }
    }
}

.text {
    &-black {
        color: $black;
    }
    &-gray {
        color: $gray-darker;
    }
    &-grayLight {
        color: $gray;
    }
    &-red {
        color: $red;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infoBar {
    height: 35px;
    line-height: 34px;
    border: $border-width solid $gray-light;
    &-left {
        border-right: $border-width solid $gray-light;
    }
    &-right {
        border-left: $border-width solid $gray-light;
        height: 100%;
    }
    &_currencySelect {
        border: 0;
    }
}

// Custom mixins. May need a mixin SASS file?
@mixin placeholder {
    &::placeholder {
        @content;
    }
}

.border {
    &-gray {
        border: $border-width solid $gray-light;
    }
}

.js-target {
    display: none;
}

.transition-background {
    transition-duration: $transition-duration;
    transition-property: background;
    transition-timing-function: $transition-easing;
}

.checkbox {
    display: table;
    vertical-align: middle;
    width: 200px;
    &_toggle {
        display: table-cell;
        width: 40px;
        height: 40px;
        border: $border-width solid $gray;
        padding-top: 3px;
        font-size: $font-size-7;
        &:hover {
            border: $border-width solid $black;
        }
        &.active {
            border: $border-width solid $black;
            &::after {
                font-family: $font-family-icons;
                content: '\E934';
            }
        }
    }
    &_text {
        display: table-cell;
        vertical-align: middle;
        font-size: $font-size-4;
    }
}
.transition-width {
    transition-duration: $transition-duration;
    transition-property: width, min-width, max-width, flex;
    transition-timing-function: $transition-easing;
}

.transition-transform {
    transition-duration: $transition-duration;
    transition-property: transform, opacity;
    transition-timing-function: $transition-easing;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid $gray-lighter;
}

.hr {
    &-gray {
        height: 2px;
        background: $gray;
    }
}

.vh-100 {
    min-height: 100vh;
}

.vw-100 {
    width: 100vw;
}

.blackout {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition-duration: $transition-duration;
    transition-property: background, visibility, z-index;
    transition-timing-function: $transition-easing;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;

    &.active {
        background: $transparent-bg-dark;
        visibility: visible;
        z-index: 9998;
    }
}

.no {
    &_hover:hover {
        text-decoration: none;
    }
}

.img {
    &-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.absolute {
    &-tl {
        position: absolute;
        top: 0;
        left: 1rem;
    }

    &-tr {
        position: absolute;
        top: 0;
        right: 1rem;
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }
}

// Helpers for Bootstrap 3 - previous UI
.control-group {
    padding-bottom: 1rem;
}

form .error .controls::before,
.custom-form .error .controls::before {
    padding: 10px;
}

.BVSubmissionLightbox {
    overflow-y: scroll;
    max-height: 70%;
}
.BVLinkClose span {
    position: absolute;
    top: 10px!important; // sass-lint:disable-line no-important
    right: 10px!important; // sass-lint:disable-line no-important
    margin-top: 0!important; // sass-lint:disable-line no-important
    z-index: 9999;
}
