%svg-common {
	background: url("../media/shared/sprite-84e10757.svg") no-repeat;
}

.icon-0-5-stars {
	@extend %svg-common;
	background-position: 0 4.830917874396135%;
	width: 104px;
	height: 20px;
}

.icon-0-stars {
	@extend %svg-common;
	background-position: 26.94300518134715% 19.32367149758454%;
	width: 104px;
	height: 20px;
}

.icon-1-5-stars {
	@extend %svg-common;
	background-position: 0 24.154589371980677%;
	width: 104px;
	height: 20px;
}

.icon-1-star {
	@extend %svg-common;
	background-position: 26.94300518134715% 0;
	width: 104px;
	height: 20px;
}

.icon-2-5-stars {
	@extend %svg-common;
	background-position: 26.94300518134715% 4.830917874396135%;
	width: 104px;
	height: 20px;
}

.icon-2-stars {
	@extend %svg-common;
	background-position: 0 9.66183574879227%;
	width: 104px;
	height: 20px;
}

.icon-3-5-stars {
	@extend %svg-common;
	background-position: 0 14.492753623188406%;
	width: 104px;
	height: 20px;
}

.icon-3-stars {
	@extend %svg-common;
	background-position: 0 19.32367149758454%;
	width: 104px;
	height: 20px;
}

.icon-360-view {
	@extend %svg-common;
	background-position: 45.887445887445885% 99.01477832512315%;
	width: 28px;
	height: 28px;
}

.icon-360-view-hover {
	@extend %svg-common;
	background-position: 64.06926406926407% 99.01477832512315%;
	width: 28px;
	height: 28px;
}

.icon-4-5-stars {
	@extend %svg-common;
	background-position: 0 0;
	width: 104px;
	height: 20px;
}

.icon-4-stars {
	@extend %svg-common;
	background-position: 26.94300518134715% 9.66183574879227%;
	width: 104px;
	height: 20px;
}

.icon-5-stars {
	@extend %svg-common;
	background-position: 26.94300518134715% 14.492753623188406%;
	width: 104px;
	height: 20px;
}

.icon-attention {
	@extend %svg-common;
	background-position: 69.23076923076923% 97.57281553398059%;
	width: 22px;
	height: 22px;
}

.icon-back--to-top {
	@extend %svg-common;
	background-position: 0 91.70984455958549%;
	width: 48px;
	height: 48px;
}

.icon-back--to-top-hover {
	@extend %svg-common;
	background-position: 84.61538461538461% 77.72020725388602%;
	width: 48px;
	height: 48px;
}

.icon-bathroom {
	@extend %svg-common;
	background-position: 0 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-bathroom-hover {
	@extend %svg-common;
	background-position: 11.363636363636363% 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-building {
	@extend %svg-common;
	background-position: 45.45454545454545% 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-building-hover {
	@extend %svg-common;
	background-position: 73.63636363636364% 0;
	width: 50px;
	height: 50px;
}

.icon-chevron-down {
	@extend %svg-common;
	background-position: 44.067796610169495% 31.45734597156398%;
	width: 18px;
	height: 12px;
}

.icon-chevron-left {
	@extend %svg-common;
	background-position: 85.35564853556485% 36.05769230769231%;
	width: 12px;
	height: 18px;
}

.icon-chevron-right {
	@extend %svg-common;
	background-position: 93.72384937238493% 91.82692307692308%;
	width: 12px;
	height: 18px;
}

.icon-chevron-up {
	@extend %svg-common;
	background-position: 47.88135593220339% 31.45734597156398%;
	width: 18px;
	height: 12px;
}

.icon-close {
	@extend %svg-common;
	background-position: 20% 99.5049504950495%;
	width: 30px;
	height: 30px;
}

.icon-close-hover {
	@extend %svg-common;
	background-position: 26.52173913043478% 99.5049504950495%;
	width: 30px;
	height: 30px;
}

.icon-dangerous-product {
	@extend %svg-common;
	background-position: 31.25% 90.3061224489796%;
	width: 42px;
	height: 42px;
}

.icon-decorating {
	@extend %svg-common;
	background-position: 62.27272727272727% 0;
	width: 50px;
	height: 50px;
}

.icon-decorating-hover {
	@extend %svg-common;
	background-position: 62.27272727272727% 13.020833333333334%;
	width: 50px;
	height: 50px;
}

.icon-delivery {
	@extend %svg-common;
	background-position: 66.15044247787611% 87.19211822660098%;
	width: 38px;
	height: 28px;
}

.icon-doors-and-joinery {
	@extend %svg-common;
	background-position: 62.27272727272727% 39.0625%;
	width: 50px;
	height: 50px;
}

.icon-doors-and-joinery-hover {
	@extend %svg-common;
	background-position: 62.27272727272727% 52.083333333333336%;
	width: 50px;
	height: 50px;
}

.icon-download {
	@extend %svg-common;
	background-position: 21.17117117117117% 91.23711340206185%;
	width: 46px;
	height: 46px;
}

.icon-download-hover {
	@extend %svg-common;
	background-position: 10.81081081081081% 91.23711340206185%;
	width: 46px;
	height: 46px;
}

.icon-electrical {
	@extend %svg-common;
	background-position: 22.727272727272727% 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-electrical-hover {
	@extend %svg-common;
	background-position: 34.09090909090909% 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-enlarge-image {
	@extend %svg-common;
	background-position: 93.3920704845815% 0;
	width: 36px;
	height: 36px;
}

.icon-enlarge-image-hover {
	@extend %svg-common;
	background-position: 57.929515418502206% 89.62025316455696%;
	width: 36px;
	height: 39px;
}

.icon-facebook {
	@extend %svg-common;
	background-position: 23.744292237442924% 39.26701570680628%;
	width: 52px;
	height: 52px;
}

.icon-facebook-hover {
	@extend %svg-common;
	background-position: 35.61643835616438% 39.26701570680628%;
	width: 52px;
	height: 52px;
}

.icon-flooring {
	@extend %svg-common;
	background-position: 73.63636363636364% 26.041666666666668%;
	width: 50px;
	height: 50px;
}

.icon-flooring-hover {
	@extend %svg-common;
	background-position: 73.63636363636364% 39.0625%;
	width: 50px;
	height: 50px;
}

.icon-heating {
	@extend %svg-common;
	background-position: 73.63636363636364% 52.083333333333336%;
	width: 50px;
	height: 50px;
}

.icon-heating-hover {
	@extend %svg-common;
	background-position: 73.63636363636364% 65.10416666666667%;
	width: 50px;
	height: 50px;
}

.icon-home {
	@extend %svg-common;
	background-position: 0 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-home-hover {
	@extend %svg-common;
	background-position: 11.363636363636363% 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-info {
	@extend %svg-common;
	background-position: 83.33333333333333% 97.57281553398059%;
	width: 22px;
	height: 22px;
}

.icon-info-hover {
	@extend %svg-common;
	background-position: 84.82905982905983% 85.92233009708738%;
	width: 22px;
	height: 22px;
}

.icon-instagram {
	@extend %svg-common;
	background-position: 11.872146118721462% 52.87958115183246%;
	width: 52px;
	height: 52px;
}

.icon-instagram-hover {
	@extend %svg-common;
	background-position: 23.744292237442924% 52.87958115183246%;
	width: 52px;
	height: 52px;
}

.icon-kitchen {
	@extend %svg-common;
	background-position: 64.54545454545455% 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-kitchen-hover {
	@extend %svg-common;
	background-position: 85% 0;
	width: 50px;
	height: 50px;
}

.icon-left {
	@extend %svg-common;
	background-position: 6.956521739130435% 99.5049504950495%;
	width: 30px;
	height: 30px;
}

.icon-left-hover {
	@extend %svg-common;
	background-position: 33.04347826086956% 99.5049504950495%;
	width: 30px;
	height: 30px;
}

.icon-linkedin {
	@extend %svg-common;
	background-position: 35.61643835616438% 52.87958115183246%;
	width: 52px;
	height: 52px;
}

.icon-linkedin-hover {
	@extend %svg-common;
	background-position: 47.48858447488585% 52.87958115183246%;
	width: 52px;
	height: 52px;
}

.icon-load-more {
	@extend %svg-common;
	background-position: 92.98245614035088% 47%;
	width: 34px;
	height: 34px;
}

.icon-load-more-hover {
	@extend %svg-common;
	background-position: 92.98245614035088% 38.5%;
	width: 34px;
	height: 34px;
}

.icon-locate-store-pin {
	@extend %svg-common;
	background-position: 64.1025641025641% 63.18407960199005%;
	width: 22px;
	height: 32px;
}

.icon-media {
	@extend %svg-common;
	background-position: 58.00865800865801% 99.01477832512315%;
	width: 28px;
	height: 28px;
}

.icon-media-hover {
	@extend %svg-common;
	background-position: 99.56709956709956% 43.8423645320197%;
	width: 28px;
	height: 28px;
}

.icon-menu-burger {
	@extend %svg-common;
	background-position: 100% 36.94581280788177%;
	width: 30px;
	height: 28px;
}

.icon-menu-close {
	@extend %svg-common;
	background-position: 39.56521739130435% 99.01477832512315%;
	width: 30px;
	height: 28px;
}

.icon-minus {
	@extend %svg-common;
	background-position: 13.478260869565217% 99.5049504950495%;
	width: 30px;
	height: 30px;
}

.icon-minus-filled {
	@extend %svg-common;
	background-position: 100% 14.851485148514852%;
	width: 30px;
	height: 30px;
}

.icon-panel-close {
	@extend %svg-common;
	background-position: 73.26086956521739% 87.19211822660098%;
	width: 30px;
	height: 28px;
}

.icon-panel-close-hover {
	@extend %svg-common;
	background-position: 79.78260869565217% 87.19211822660098%;
	width: 30px;
	height: 28px;
}

.icon-plastering {
	@extend %svg-common;
	background-position: 62.27272727272727% 26.041666666666668%;
	width: 50px;
	height: 50px;
}

.icon-plastering-hover {
	@extend %svg-common;
	background-position: 85% 52.083333333333336%;
	width: 50px;
	height: 50px;
}

.icon-play {
	@extend %svg-common;
	background-position: 49.056603773584904% 18.13858695652174%;
	width: 66px;
	height: 66px;
}

.icon-play-hover {
	@extend %svg-common;
	background-position: 49.056603773584904% 0;
	width: 66px;
	height: 66.75px;
}

.icon-plumbing {
	@extend %svg-common;
	background-position: 56.81818181818182% 66.14583333333333%;
	width: 50px;
	height: 50px;
}

.icon-plumbing-hover {
	@extend %svg-common;
	background-position: 85% 65.10416666666667%;
	width: 50px;
	height: 50px;
}

.icon-plus {
	@extend %svg-common;
	background-position: 100% 7.425742574257426%;
	width: 30px;
	height: 30px;
}

.icon-plus-filled {
	@extend %svg-common;
	background-position: 100% 0;
	width: 30px;
	height: 30px;
}

.icon-print {
	@extend %svg-common;
	background-position: 92.5764192139738% 79.1044776119403%;
	width: 32px;
	height: 32px;
}

.icon-print-hover {
	@extend %svg-common;
	background-position: 92.5764192139738% 87.06467661691542%;
	width: 32px;
	height: 32px;
}

.icon-promotions {
	@extend %svg-common;
	background-position: 85% 26.041666666666668%;
	width: 50px;
	height: 50px;
}

.icon-promotions-hover {
	@extend %svg-common;
	background-position: 85% 13.020833333333334%;
	width: 50px;
	height: 50px;
}

.icon-qty-box {
	@extend %svg-common;
	background-position: 93.18681318681318% 16.336633663366335%;
	width: 35px;
	height: 30px;
}

.icon-qty-box-hover {
	@extend %svg-common;
	background-position: 93.18681318681318% 8.910891089108912%;
	width: 35px;
	height: 30px;
}

.icon-qty-input {
	@extend %svg-common;
	background-position: 25.641025641025642% 29.702970297029704%;
	width: 100px;
	height: 30px;
}

.icon-qty-input-hover {
	@extend %svg-common;
	background-position: 0 29.702970297029704%;
	width: 100px;
	height: 30px;
}

.icon-qty-minus {
	@extend %svg-common;
	background-position: 99.56709956709956% 99.01477832512315%;
	width: 28px;
	height: 28px;
}

.icon-qty-minus-hover {
	@extend %svg-common;
	background-position: 99.56709956709956% 71.42857142857143%;
	width: 28px;
	height: 28px;
}

.icon-qty-plus {
	@extend %svg-common;
	background-position: 99.56709956709956% 64.5320197044335%;
	width: 28px;
	height: 28px;
}

.icon-qty-plus-hover {
	@extend %svg-common;
	background-position: 99.56709956709956% 57.635467980295566%;
	width: 28px;
	height: 28px;
}

.icon-quick-order {
	@extend %svg-common;
	background-position: 40.534521158129174% 90.07633587786259%;
	width: 41px;
	height: 41px;
}

.icon-quick-view {
	@extend %svg-common;
	background-position: 92.5764192139738% 63.18407960199005%;
	width: 32px;
	height: 32px;
}

.icon-quick-view-hover {
	@extend %svg-common;
	background-position: 92.5764192139738% 55.223880597014926%;
	width: 32px;
	height: 32px;
}

.icon-right {
	@extend %svg-common;
	background-position: 100% 22.277227722772277%;
	width: 30px;
	height: 30px;
}

.icon-right-hover {
	@extend %svg-common;
	background-position: 100% 29.702970297029704%;
	width: 30px;
	height: 30px;
}

.icon-search {
	@extend %svg-common;
	background-position: 11.872146118721462% 39.26701570680628%;
	width: 52px;
	height: 52px;
}

.icon-search-hover {
	@extend %svg-common;
	background-position: 47.48858447488585% 39.26701570680628%;
	width: 52px;
	height: 52px;
}

.icon-search_1 {
	@extend %svg-common;
	background-position: 92.98245614035088% 30%;
	width: 34px;
	height: 34px;
}

.icon-share {
	@extend %svg-common;
	background-position: 92.5764192139738% 71.14427860696517%;
	width: 32px;
	height: 32px;
}

.icon-share-hover {
	@extend %svg-common;
	background-position: 0 100%;
	width: 32px;
	height: 32px;
}

.icon-slider-pagination {
	@extend %svg-common;
	background-position: 99.56709956709956% 50.73891625615764%;
	width: 28px;
	height: 28px;
}

.icon-slider-pagination-filled {
	@extend %svg-common;
	background-position: 99.56709956709956% 78.32512315270937%;
	width: 28px;
	height: 28px;
}

.icon-spinner {
	@extend %svg-common;
	background-position: 99.56709956709956% 85.22167487684729%;
	width: 28px;
	height: 28px;
}

.icon-store {
	@extend %svg-common;
	background-position: 99.56709956709956% 92.11822660098522%;
	width: 28px;
	height: 28px;
}

.icon-store-dt {
	@extend %svg-common;
	background-position: 82.01754385964912% 39.0625%;
	width: 34px;
	height: 50px;
}

.icon-store-dt-hover {
	@extend %svg-common;
	background-position: 54.824561403508774% 79.16666666666667%;
	width: 34px;
	height: 50px;
}

.icon-store-white {
	@extend %svg-common;
	background-position: 51.94805194805195% 99.01477832512315%;
	width: 28px;
	height: 28px;
}

.icon-tick {
	@extend %svg-common;
	background-position: 90.98712446351931% 91.82692307692308%;
	width: 24px;
	height: 18px;
}

.icon-tiling {
	@extend %svg-common;
	background-position: 45.45454545454545% 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-tiling-hover {
	@extend %svg-common;
	background-position: 34.09090909090909% 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-tools {
	@extend %svg-common;
	background-position: 22.727272727272727% 79.16666666666667%;
	width: 50px;
	height: 50px;
}

.icon-tools-hover {
	@extend %svg-common;
	background-position: 73.63636363636364% 13.020833333333334%;
	width: 50px;
	height: 50px;
}

.icon-trolley {
	@extend %svg-common;
	background-position: 92.98245614035088% 23.414634146341463%;
	width: 34px;
	height: 24px;
}

.icon-twitter {
	@extend %svg-common;
	background-position: 0 39.26701570680628%;
	width: 52px;
	height: 52px;
}

.icon-twitter-hover {
	@extend %svg-common;
	background-position: 0 52.87958115183246%;
	width: 52px;
	height: 52px;
}

.icon-use-location {
	@extend %svg-common;
	background-position: 73.93162393162393% 97.57281553398059%;
	width: 22px;
	height: 22px;
}

.icon-use-location-hover {
	@extend %svg-common;
	background-position: 78.63247863247864% 97.57281553398059%;
	width: 22px;
	height: 22px;
}

.icon-user {
	@extend %svg-common;
	background-position: 49.55555555555556% 89.84771573604061%;
	width: 40px;
	height: 40px;
}

.icon-user-circle {
	@extend %svg-common;
	background-position: 74.22222222222223% 77.15736040609137%;
	width: 40px;
	height: 40px;
}

