.input {
    &-stroke {
        border: 3px solid $brand-secondary-light;
        border-radius: 5em;
        overflow: hidden;
        background-color: $body-bg;
        &:focus {
            border-color: $brand-secondary-dark;
        }
    }
    &-large {
        width: 100%;
    }
}
