.nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(50, 50, 50, .5);
    transform: translateX(-100%);
    transition-duration: .66s;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    opacity: 0;
    z-index: -1;

    @include media-breakpoint-up(md) {
        .nav {
            transform: translateX(-25%);
        }
    }

    &.active {
        transform: translateX(0);
        z-index: 1;
        opacity: 1;
    }

    &_section {
        min-height: 100vh;
        background: $white;
    }

    @include media-breakpoint-up(sm) {
        &_section {
            max-width: 380px;
        }
    }

    &_close {
        position: absolute;
        right: 1rem;
        top: 2rem;
        font-size: $font-size-9;
        cursor: pointer;
        z-index: 999;
    }

    &_category {
        position: absolute;
        width: 100%;
        visibility: hidden;
        transition: transform .33s ease;
        transform: translateX(-100%);

        &-selected {
            visibility: visible;
            transform: translateX(0%);
        }
    }

    &_categoryTitle {
        height: 80px;
        line-height: 42px;
        border-bottom: 1px solid $gray-medium;
    }

    &_backArrow {
        &::before {
            position: absolute;
            left: 1rem;
            font-family: FontAwesome;
            content: '\f177';
        }
    }

    &_links {
        li {
            position: relative;
            border-bottom: 1px solid $gray-medium;
            font-size: $font-size-5;

            a {
                color: $gray-dark;

                &::after {
                    position: absolute;
                    right: 0;
                    font-family: FontAwesome;
                    content: '\f054';
                }
            }
        }
    }
}
