.nav {
    &_category {
        position: absolute;
        width: 100%;
        visibility: hidden;
        transition-duration: $transition-duration;
        transition-property: transform, visibility;
        transition-timing-function: $transition-easing;
        transform: translateX(-100%);
        z-index: 10;

        &-selected {
            visibility: visible;
            transform: translateX(0%);
            z-index: 20;
        }
    }

    &_categoryTitle {
        height: 80px;
        line-height: 46px;
        border-bottom: 1px solid $gray;
    }

    &_backArrow {
        &::before {
            position: absolute;
            left: 1rem;
            font-family: $font-family-icons;
            content: '\E93B';
        }
    }

    &_group {
        li {
            position: relative;
            border-bottom: 1px solid $gray;
            font-size: $font-size-5;

            a {
                color: $black;

                &::after {
                    position: absolute;
                    right: 0;
                    font-family: $font-family-icons;
                    content: '\E93C';
                }
            }
        }
    }
}
