.productCard {
    font-size: $font-size-3;

    &_strap {
        position: relative;
        border-top: $border-width solid $black;
        border-bottom: $border-width solid $black;
    }

    &_discount {
        font-size: $font-size-4;
        color: $red;
    }

    &_title {
        font-size: $font-size-4;
    }

    &_price {
        font-size: $font-size-5;
    }
}
