.productCard {
    position: relative;
    font-size: $font-size-3;

    &.transition {
        transform: scale(.75);
        opacity: 0;
    }

    &_top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &_strap {
        position: relative;
        border-top: $border-width solid $gray-darkest;
        border-bottom: $border-width solid $gray-darkest;
    }

    &_image {
        position: relative;
        padding-bottom: 80%; // sets image ratio, ensures it scales down

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
        }
    }

    &_details {
        position: relative;
    }

    &_discount {
        position: absolute;
        top: 0;
        left: 0;
    }

    &_discount,
    &_title {
        font-size: $font-size-4;
    }

    &_price {
        font-size: $font-size-5;
    }
}
