.product {
    &_recommended {
        border-bottom: 3px solid $brand-primary;
        border-style: inset;
    }
    &_promo {
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100px 100px 0;
        border-color: transparent $brand-secondary transparent transparent;
    }
    &_promoContent {
        position: relative;
        transform: translate(35%, 35%) rotate(45deg);
        color: $brand-secondary;
        height: 65px;
        width: 65px;
    }
}
