.slidePanel {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    &_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 380px;
        height: 100%;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition-duration: $transition-duration;
        transition-property: transform;
        transition-timing-function: $transition-easing;
    }

    &_close {
        position: absolute;
        right: 2rem;
        top: 2.5rem;
        font-size: $font-size-9;
        z-index: 999;
    }

    &-rightSide {
        .slidePanel_content {
            left: auto;
            right: 0;
            transform: translateX(100%);
        }
    }

    &.active {
        .slidePanel_content {
            transform: translateX(0);
        }
    }
}
