.subscribe {
    position: relative;
    background: $gray-light;

    &_box {
        max-width: 600px;
    }

    &_email {
        width: 100%;
        padding-right: 150px;
        font-size: $font-size-3;
    }

    &_submit {
        position: absolute;
        top: 0;
        right: 0;
    }

    // Temp, hide the hybris label
    .control-label {
        display: none;
    }

    input.error {
        border-bottom: 1px solid #c83745;
    }

    label.error {
        display: none!important; // sass-lint:disable-line no-important
    }
}
