.text-block {
    margin: 52px 0 72px;
    @media only screen and (max-width: 767px) {
        margin: 15px 0 35px;
    }
    text-align: center;
    &__subtitle {
        margin: 0 0 20px;
        text-transform: uppercase;
        color: #bdbfc7;
        font-size: 12px;
        letter-spacing: 2.5px;
    }
    &__title {
        font-size: 75px;
        margin: 0 0 30px;
        color: #383d5a;
        @media only screen and (max-width: 767px) {
            font-size: 35px;
        }

    }
    &__copy {
        margin: 0;
        font-size: 18px;
        color: #383d5a;
        line-height: 35px;
        @media only screen and (max-width: 767px) {
            font-size: 16px;
        }
        @media only screen and (max-width: 460px) {
            br {
                display: none;
            }
        }
    }
}
