<div class="wrapper">
    <header>
        {{> topInfoBar}}
        <div class="container-fluid">
            {{> header color="black" background="white"}}
        </div>
    </header>
    {{> breadcrumb}}

    <div class="container furniture-container">

        <div id="content" class="page-content-holder">


            <section class="sticky-header-nav page-section">

                <a href="#" class="mobile-product-nav">
                    Other Products +
                </a>

                <ul class="product-nav" id="main-product-nav">

                    <li> <a href="/" class="active"> Juno </a> </li>
                    <li> <a href="/"> Mia Classic </a> </li>
                    <li> <a href="/"> Mia Sleigh </a> </li>
                    <li> <a href="/"> Mia Vista </a> </li>
                    <li> <a href="/"> Bunny &amp; Clyde </a> </li>
                    <li> <a href="/"> Cooper </a> </li>
                    <li> <a href="/"> Atlas </a> </li>
                    <li> <a href="/"> Franklin </a> </li>
                    <li> <a href="/"> Lawson </a> </li>
                    <li> <a href="/"> Oxford </a> </li>

                </ul>


            </section>

            <section class="page-section main-carousel-section carousel-section ">

                <div class="carousel-inner">

                    <div class="carousel-image">

                        <picture>
                            <source srcset="/media/furniture-images/carousel-1.jpg" /media="(min-width: 992px)">
                            <source srcset="/media/furniture-images/carousel-1-mobile.jpg">
                            <img srcset="/media/furniture-images/carousel-1-mobile.jpg" alt="My default image" class="carousel-image img-responsive">
                        </picture>

                    </div>
                    <div class="content-holder">
                        <h1> Juno </h1>
                        <span class="small-line"></span>
                        <h2> Scandinavian inspired design </h2>
                    </div>

                </div>

            </section>

            <section class="page-section constrained-section product-content-section">

                <div class="product-content-inner">
                    <span class="header-small-text"> Mamas &amp; Papas </span>

                    <h1> Effortless Elegance </h1>

                    <p> If 'small and stylish' sums up your idea of a dream nursery, then you'll love Juno. Compact for smaller spaces, it's full of great storage solutions, all finished in its contemporary two-tone design. </p>
                </div>

                <div class="product-carousel-holder">
                    <div class="product-content-inner product-carousel" id="primary-carousel">

                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/primary-carousel-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">01</span> - <span class="slidecount">05</span> </span>

                                    <p> Bijou, for a smaller nursery without losing any style or function </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/primary-carousel-image-2.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">02</span> - <span class="slidecount">05</span> </span>

                                    <p> Wee, for a smaller nursery without losing any style or function </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/primary-carousel-image-3.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">03</span> - <span class="slidecount">05</span> </span>

                                    <p> Compact, for a smaller nursery without losing any style or function </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-arrow-holder">
                        <div class="carousel-arrow left">
                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                             </g>
                            </svg>
                        </div>

                        <div class="carousel-arrow right">
                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                             </g>
                            </svg>
                        </div>
                    </div>
                </div>


            </section>

            <section class="page-section constrained-section fit-section">

                <div class="page-section sticky-range-footer">
                    <p class="range-name">Juno</p>
                    <a href="#" class="btn btn-default"> See Full Range </a>
                </div>

                <div class="product-content-inner">
                    <span class="header-small-text"> Mia Cot </span>

                    <h2> Let's just check it fits </h2>


                </div>
                <img src="/media/furniture-images/plugin-1.jpg" alt="plugin" class="placeholder-plugin img-responsive" />


            </section>

            <section class="page-section constrained-section collection-section">

                <div class="product-content-inner">
                    <span class="header-small-text"> Juno </span>

                    <h2> In the Collection </h2>


                </div>

            </section>

            <section class="page-section collection-section collection-carousel-section">

                <div class="product-carousel-holder">
                    <div class="product-content-inner product-carousel" id="collection-carousel">

                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/collection-carousel-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">01</span> - <span class="slidecount">05</span> </span>

                                    <h3> Dresser/changer </h3>

                                    <p> The Juno dresser brings together two of our favourite things - Scandi style and handy storage solutions. </p>

                                    <div class="carousel-arrow-holder">
                                        <div class="carousel-arrow left">
                                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                                             <g>
                                              <title>Layer 1</title>
                                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                             </g>
                                            </svg>
                                        </div>

                                        <div class="carousel-arrow right">
                                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                                             <g>
                                              <title>Layer 1</title>
                                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                             </g>
                                            </svg>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/collection-carousel-image-2.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">02</span> - <span class="slidecount">05</span> </span>

                                    <h3> Dresser / Changer 2 </h3>

                                    <p> The Juno dresser brings together two of our favourite things - Scandi style and handy storage solutions. </p>

                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/collection-carousel-image-3.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> <span class="slidenumber">03</span> - <span class="slidecount">05</span> </span>

                                    <h3> Dresser / Changer 3 </h3>

                                    <p> The Juno dresser brings together two of our favourite things - Scandi style and handy storage solutions. </p>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </section>

            <section class="page-section information-section">

                <div class="product-content-inner product-tabs info-tabs">

                    <ul class="product-nav info-nav">
                        <li> <a href="#" data-tab-target="age" class="tab-option active"> Age </a> </li>
                        <li> <a href="#" data-tab-target="dimensions" class="tab-option"> Dimensions </a> </li>
                        <li> <a href="#" data-tab-target="material" class="tab-option"> Material </a> </li>
                        <li> <a href="#" data-tab-target="advice" class="tab-option"> Advice </a> </li>
                        <li> <a href="#" data-tab-target="standards" class="tab-option"> Standards </a> </li>
                    </ul>


                    <div class="product-content-tabs tabs-right">



                        <img src="/media/furniture-images/safety-carousel-1.jpg" data-tab-id="age" alt="carousel 2" class="product-content-tab-image active img-responsive" />
                        <img src="/media/furniture-images/safety-carousel-2.jpg" data-tab-id="dimensions" alt="carousel 2" class="product-content-tab-image img-responsive" />
                        <img src="/media/furniture-images/safety-carousel-3.jpg" data-tab-id="material" alt="carousel 2" class="product-content-tab-image img-responsive" />
                        <img src="/media/furniture-images/safety-carousel-4.jpg" data-tab-id="advice" alt="carousel 2" class="product-content-tab-image img-responsive" />
                        <img src="/media/furniture-images/safety-carousel-5.jpg" data-tab-id="standards" alt="carousel 2" class="product-content-tab-image img-responsive" />
                    </div>
                    <div class="product-content-tabs tabs-left">

                        <div class="product-content-tab-block active" data-tab-id="age">
                            <span class="header-small-text"> Age </span>

                            <div class="content-block">
                                <p> European safety standard EN716:2008+A1:2013 </p>
                                <p> British safety standard BS 8509:2008+A1:2011 </p>
                                <p> European safety standard EN 12221:2008+A1:2013 </p>
                                <p> British safety standard BS 14749:201 </p>
                            </div>

                            <span class="header-small-text tabcounter">  <span class="tabnumber">01</span> - <span class="tabcount">04</span> </span>
                        </div>
                        <div class="product-content-tab-block" data-tab-id="dimensions">
                            <span class="header-small-text"> Dimensions </span>

                            <div class="content-block">
                                <p> European safety standard EN716:2008+A1:2013 </p>
                                <p> British safety standard BS 8509:2008+A1:2011 </p>
                                <p> European safety standard EN 12221:2008+A1:2013 </p>
                                <p> British safety standard BS 14749:201 </p>
                            </div>

                            <span class="header-small-text tabcounter">  <span class="tabnumber">02</span> - <span class="tabcount">05</span> </span>
                        </div>
                        <div class="product-content-tab-block" data-tab-id="material">
                            <span class="header-small-text"> Material </span>

                            <div class="content-block">
                                <p> European safety standard EN716:2008+A1:2013 </p>
                                <p> British safety standard BS 8509:2008+A1:2011 </p>
                                <p> European safety standard EN 12221:2008+A1:2013 </p>
                                <p> British safety standard BS 14749:201 </p>
                            </div>

                            <span class="header-small-text tabcounter">  <span class="tabnumber">03</span> - <span class="tabcount">05</span> </span>
                        </div>
                        <div class="product-content-tab-block" data-tab-id="advice">
                            <span class="header-small-text"> Advice </span>

                            <div class="content-block">
                                <p> European safety standard EN716:2008+A1:2013 </p>
                                <p> British safety standard BS 8509:2008+A1:2011 </p>
                                <p> European safety standard EN 12221:2008+A1:2013 </p>
                                <p> British safety standard BS 14749:201 </p>
                            </div>

                            <span class="header-small-text tabcounter">  <span class="tabnumber">04</span> - <span class="tabcount">05</span> </span>
                        </div>
                        <div class="product-content-tab-block" data-tab-id="standards">
                            <span class="header-small-text"> Standards </span>

                            <div class="content-block">
                                <p> European safety standard EN716:2008+A1:2013 </p>
                                <p> British safety standard BS 8509:2008+A1:2011 </p>
                                <p> European safety standard EN 12221:2008+A1:2013 </p>
                                <p> British safety standard BS 14749:201 </p>
                            </div>

                            <span class="header-small-text tabcounter">  <span class="tabnumber">05</span> - <span class="tabcount">05</span> </span>
                        </div>
                    </div>
                </div>

            </section>

            <section class="page-section colour-option-section">

                <span class="header-small-text"> Juno </span>

                <h2> Colour Options </h2>


                <div class="colour-options">

                    <div class="colour-option active">
                        <span class="colour-spot" style="background-color: #c2c6c5; border-color: #c2c6c5;"></span>
                        <p class="colour-desc"> Cloud Grey </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #854965;border-color: #854965;"></span>
                        <p class="colour-desc"> Plumb Wine </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #767477;border-color: #767477;"></span>
                        <p class="colour-desc"> Grey Twill </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #99a397;border-color: #99a397;"></span>
                        <p class="colour-desc"> Sage Green </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #342f4a;border-color: #342f4a;"></span>
                        <p class="colour-desc"> Dark Navy </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #4d4845;border-color: #4d4845;"></span>
                        <p class="colour-desc"> Chestnut </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #627a87;border-color: #627a87;"></span>
                        <p class="colour-desc"> Blue Mist </p>
                    </div>
                    <div class="colour-option">
                        <span class="colour-spot" style="background-color: #222222;border-color: #222222;"></span>
                        <p class="colour-desc"> Black </p>
                    </div>

                </div>


            </section>

            <section class="page-section buying-options-section">

                <span class="header-small-text"> Juno </span>

                <h2> Buying options </h2>

                <a href="#" class="btn btn-default option-button active" data-target-id="twopiece"> 2 Piece </a>
                <a href="#" class="btn btn-default option-button" data-target-id="threepiece"> 3 Piece </a>

                <div class="buying-options-block active" data-option-id="twopiece">

                    <img src="/media/furniture-images/buying-option-image-1.jpg" alt="buying option 1" class="buying-options-image img-responsive" />

                    <h3> 2 Piece </h3>

                    <div class="line"></div>

                    <div class="whats-included">
                        <span class="title header-small-text">What's included:</span>
                        <ol class="contents">
                            <li>Cotbed</li>
                            <li>Dresser/changer</li>
                        </ol>
                    </div>

                </div>

                <div class="buying-options-block" data-option-id="threepiece">

                    <img src="/media/furniture-images/buying-option-image-2.jpg" alt="buying option 1" class="buying-options-image img-responsive" />

                    <h3> 3 Piece </h3>

                    <div class="line"></div>

                    <div class="whats-included">
                        <span class="title header-small-text">What's included:</span>
                        <ol class="contents">
                            <li>Cotbed </li>
                            <li>Dresser/changer </li>
                            <li>Wardrobe </li>
                        </ol>
                    </div>

                </div>

                <div class="header-small-text"> Buy Below </div>

            </section>

            <section class="page-section bundles-section custom-buying-section">

                <h2> Bundles </h2>

                <span class="header-small-text"> 2 Items </span>

            </section>

            <section class="page-section pieces-section custom-buying-section">

                <h2> Pieces </h2>

                <span class="header-small-text"> 4 Items </span>

            </section>

            <section class="page-section accessories-section custom-buying-section">

                <h2> Accessories </h2>

                <span class="header-small-text"> 4 Items </span>

            </section>

            <section class="page-section ancillary-section">

                <div class="find-mattress">
                    <div class="find-mattress-inner">
                      <img src="/media/furniture-images/baby-mattress.png" alt="baby on mattress with teddy" class="find-mattress-image img-responsive" />

                      <div class="find-mattress-content">
                          <p class="find-mattress-text"> Need help finding the correct mattress?</p>
                          <a href="#" class="find-mattress-link"> Read more </a>
                      </div>
                    </div>
                </div>

                <div class="free-uk-delivery">
                    <div class="free-uk-delivery-inner">
                        <span class="initial-text">Free UK Delivery</span>
                        <span class="delivery-plus"> + </span>
                        <div class="delivery-terms">
                            <span class="delivery-terms-number">30</span>
                            <span class="delivery-terms-text">Day Returns</span>
                        </div>
                        <span class="delivery-plus"> + </span>
                        <div class="delivery-terms">
                            <span class="delivery-terms-number">2<sup>YR</sup></span>
                            <span class="delivery-terms-text">Warranty</span>
                        </div>
                    </div>
                </div>

            </section>

            <section class="page-section personal-shopping-section">

                <div class="shopping-holder">
                    <div class="shopping-image shopping-equalize-cols">
                        <img src="/media/furniture-images/personal-shopping.jpg" alt="carousel 2" class="shopping-content-image img-responsive" />
                    </div>
                    <div class="shopping-content shopping-equalize-cols">

                        <div class="shopping-content-text">
                            <span class="header-small-text"> Personal Shopping </span>
                            <span class="header-small-text"> Available in stores </span>

                            <div class="lined-box"></div>

                            <h3> Can't decide? </h3>

                            <p> Book a personal shopping experience and we'll help you through every step of the way. </p>

                            <a href="#" class="btn btn-default appointment-button"> Book Appointment </a>
                        </div>
                    </div>
                </div>

            </section>

            <section class="page-section about-us-section">

                <h2> Designed with care and attention, by our family for yours </h2>

                <div class="about-us-inner">

                    <div class="product-carousel-holder">
                        <div class="product-content-inner product-carousel" id="aboutus-carousel">

                            <div class="product-carousel-slide">
                                <div class="product-content-carousel carousel-left">

                                    <img src="/media/furniture-images/aboutus-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />

                                </div>
                                <div class="product-content-carousel carousel-right">

                                    <div class="product-content-carousel-text">
                                        <span class="header-small-text"> <span class="slidenumber">01</span> - <span class="slidecount">05</span> </span>

                                        <h3> Our family </h3>

                                        <p> We’re a family business, so we understand a thing or two about families. We were founded by a young, new mum. </p>

                                        <div class="carousel-arrow-holder">
                                            <div class="carousel-arrow left">
                                                <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                                                 <g>
                                                  <title>Layer 1</title>
                                                  <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                                                  <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                                  <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                                 </g>
                                                </svg>
                                            </div>

                                            <div class="carousel-arrow right">
                                                <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                                                 <g>
                                                  <title>Layer 1</title>
                                                  <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                                                  <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                                  <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                                                 </g>
                                                </svg>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="product-content-track">
                                    <div class="year"> <span class="year-text">1984</span> </div>
                                </div>
                            </div>
                            <div class="product-carousel-slide">
                                <div class="product-content-carousel carousel-left">
                                    <img src="/media/furniture-images/aboutus-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                                </div>
                                <div class="product-content-carousel carousel-right">

                                    <div class="product-content-carousel-text">
                                        <span class="header-small-text"> <span class="slidenumber">02</span> - <span class="slidecount">05</span> </span>

                                        <h3> Dresser / Changer 2 </h3>

                                        <p> The Juno dresser brings together two of our favourite things - Scandi style and handy storage solutions. </p>

                                        <div class="carousel-arrow-holder">

                                        </div>
                                    </div>
                                </div>
                                <div class="product-content-track">
                                    <div class="year"> <span class="year-text">1921</span> </div>
                                </div>
                            </div>
                            <div class="product-carousel-slide">
                                <div class="product-content-carousel carousel-left">

                                    <img src="/media/furniture-images/aboutus-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                                </div>
                                <div class="product-content-carousel carousel-right">

                                    <div class="product-content-carousel-text">
                                        <span class="header-small-text"> <span class="slidenumber">03</span> - <span class="slidecount">05</span> </span>

                                        <h3> Dresser / Changer 3 </h3>

                                        <p> The Juno dresser brings together two of our favourite things - Scandi style and handy storage solutions. </p>

                                        <div class="carousel-arrow-holder">

                                        </div>
                                    </div>
                                </div>
                                <div class="product-content-track">
                                    <div class="year last"> <span class="year-text">2017</span> </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <section class="page-section process-section">

                <div class="product-carousel-holder">

                    <div class="carousel-arrow-holder">
                        <div class="carousel-arrow left">
                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                             </g>
                            </svg>
                        </div>

                        <div class="carousel-arrow right">
                            <svg width="57" height="34" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <line x1="-0.1875" stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_1" y2="16.9375" x2="56.8125" y1="16.9375" stroke="#000" fill="none"/>
                              <line stroke="#000" transform="rotate(135 48.5625,25.062500000000007) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_3" y2="25.0625" x2="60.3125" y1="25.0625" x1="36.8125" fill-opacity="null" stroke-opacity="null" fill="none"/>
                              <line stroke="#000" transform="rotate(45 48.68750000000001,8.875000000000002) " stroke-linecap="undefined" stroke-linejoin="undefined" id="svg_5" y2="8.875" x2="60.4375" y1="8.875" x1="36.9375" fill-opacity="null" stroke-opacity="null" fill="none"/>
                             </g>
                            </svg>
                        </div>
                    </div>
                    <div class="product-content-inner product-carousel" id="process-carousel">

                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/process-carousel-image-1.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />

                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> Our Process </span>

                                    <h2> We design, test, re-design and test again </h2>


                                    <span class="header-small-text carousel-numbers"> <span class="slidenumber">01</span> - <span class="slidecount">05</span> </span>

                                    <p> Compact, for a smaller nursery without losing any style or function </p>

                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/process-carousel-image-2.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> Our Process </span>

                                    <h2> We design, test, re-design and test again </h2>


                                    <span class="header-small-text carousel-numbers"> <span class="slidenumber">02</span> - <span class="slidecount">05</span> </span>

                                    <p> Compact, for a smaller nursery without losing any style or function </p>
                                </div>
                            </div>
                        </div>
                        <div class="product-carousel-slide">
                            <div class="product-content-carousel carousel-left">

                                <img src="/media/furniture-images/process-carousel-image-3.jpg" alt="carousel 2" class="product-content-carousel-image img-responsive" />
                            </div>
                            <div class="product-content-carousel carousel-right">

                                <div class="product-content-carousel-text">
                                    <span class="header-small-text"> Our Process </span>

                                    <h2> We design, test, re-design and test again </h2>


                                    <span class="header-small-text carousel-numbers"> <span class="slidenumber">03</span> - <span class="slidecount">05</span> </span>

                                    <p> Compact, for a smaller nursery without losing any style or function </p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>

            </section>

            <section class="page-section our-mums-section">

                <span class="header-small-text"> Social </span>

                <h2> Our mums </h2>

                <img src="/media/furniture-images/ourmums.jpg" alt="our mums" class="img-responsive" />

            </section>



        </div>



    </div>

    {{> footer}}

</div>

{{> slidePanel block="nav"}}
{{> slidePanel block="basket" align="rightSide"}}

{{> scripts}}
