<div class="wrapper">
    <header>
        {{> topInfoBar}}
        <div class="container-fluid">
            {{> header color="black" background="white"}}
        </div>
    </header>
    {{> breadcrumb}}

    <div class="container-fluid product pt-4">
        <h1>Add furniture sections here</h1>
    </div>

    {{> footer}}

</div>

{{> slidePanel block="nav"}}
{{> slidePanel block="basket" align="rightSide"}}

{{> scripts}}