<header>
    {{> topInfoBar}}
    <div class="container-fluid">
        {{> header color="black" background="white"}}
    </div>
</header>
{{> slidePanel block="nav"}}
{{> slidePanel block="mobileFilters" hide="md"}}
{{> slidePanel block="mobileSorts" hide="md"}}
{{> boxBanner }}
{{> breadcrumb}}
{{> productFilter}}
{{> productCard}}
{{> footer}}
{{> scripts}}