{{> topInfoBar}}
<div class="container-fluid">
    {{> header color="black" background="white"}}
</div>
{{> nav}}
{{> boxBanner }}
{{> breadcrumb}}
<div class="p-1">
{{> productFilter}}
</div>
{{> footer}}
{{> scripts}}