{{> topInfoBar}}
{{> header color="black" background="white"}}
{{> header color="white" background="gray"}}
{{> homepageHeader}}
{{> nav}}
<div class="container">
    <div class="row py-2">
        <div class="col">
            <h3>Buttons </h3>
            <div class="d-inline-block">
                {{> arrowButton color="black"}}
            </div>
            <div class="d-inline-block">
                {{> arrowButton color="black" size="small"}}
            </div>
        </div>
    </div>
</div>
{{> footer}}
{{> scripts}}