<div class="wrapper">
    {{> topInfoBar}}
    <div class="container-fluid">
        {{> header color="black" background="white"}}
        {{> header color="white" background="gray"}}
    </div>
    {{> homepageHeader}}
    {{> boxBanner}}
    <div class="container">
        <div class="row py-4">
            <div class="col">
                <h3>Buttons </h3>
                <div class="d-inline-block">
                    {{> arrowButton color="black"}}
                </div>
                <div class="d-inline-block">
                    {{> arrowButton color="black" size="small"}}
                </div>
                <div class="d-inline-block">
                    {{> button text="Default"}}
                    {{> button backgroundColour="primary" text="Primary"}}
                    {{> button backgroundColour="secondary" text="Secondary"}}
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <h3>Checkboxes</h3>
            <div class="d-block">
                <div class="checkbox">
                    <div class="checkbox_toggle cursor-pointer text-center"></div>
                    <span class="checkbox_text pl-2">Default</span>
                </div>
            </div>
            <div class="d-block pt-3">
                <div class="checkbox">
                    <div class="checkbox_toggle cursor-pointer text-center active"></div>
                    <span class="checkbox_text pl-2">Active</span>
                </div>
            </div>            
        </div>
    </div>
    {{> footer}}
</div>

{{> slidePanel block="nav"}}
{{> slidePanel block="basket" align="rightSide"}}

{{> scripts}}