// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false!default;
$enable-rounded:            true!default;
$enable-shadows:            false!default;
$enable-gradients:          false!default;
$enable-transitions:        true!default;
$enable-hover-media-query:  false!default;
$enable-grid-classes:       true!default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem!default;
$spacer-x:                   $spacer!default;
$spacer-y:                   $spacer!default;
$spacers: (
    0: (
        x:   0,
        y:   0
    ),
    hf: (
        x:   ($spacer-x * .5),
        y:   ($spacer-y * .5)
    ),
    1: (
        x:   $spacer-x,
        y:   $spacer-y
    ),
    2: (
        x:   ($spacer-x * 1.5),
        y:   ($spacer-y * 1.5)
    ),
    3: (
        x:   ($spacer-x * 3),
        y:   ($spacer-y * 3)
    ),
    4: (
        x:   ($spacer-x * 4),
        y:   ($spacer-y * 4)
    ),
    5: (
        x:   ($spacer-x * 5),
        y:   ($spacer-y * 5)
    )
)!default;

$container-max-widths: (
    sm: 767px,
    md: 959px,
    lg: 960px,
    xl: 1140px
)!default;

$border-width:               1px!default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:         (4 / 3)!default;
$line-height-sm:         1.5!default;

$border-radius:          .2rem!default;
$border-radius-lg:       .2rem!default;
$border-radius-sm:       .15rem!default;

$body-bg:                     $white!default;
$body-color:                  $gray-dark!default;

$background-primary:          $white!default;
$background-primary-color:    $gray-dark!default;

$image-border:                3px solid $black!default;
