// Main styles for the site. Anything that isn't a component
body {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.container-fluid {
    padding: 0;
}

.row {
    max-width: 1500px;
    margin: 0 auto;
}
