// Main styles for the site. Anything that isn't a component
body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 1rem;
}

// Normalise overwrite
button,
input,
optgroup,
select,
textarea {
    font-family: $font-family-base;
}
